body {
    font-family: Garamond, serif;
    background-color: #e1cb68;
    font-size: 20px;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    margin: 10px 0;
}

table {
    width: 100%;
    height: calc(100vh - 80px);
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

ul {
    padding-left: 20px;
}

a {
    text-decoration: none;
    display: block;
    margin: 8px 0;
    color: black;
}

a:hover {
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}
