body {
    font-family: Garamond, serif;
    background-color: #e1cb68;
    font-size: 23px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: black;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}


